.common-home .product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info .item-title, .common-home .product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info .rating, .common-home .product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info .ratings, .common-home .product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info .price{
	width: 180px;
	/*width: 100%;*/
}
.logo{
	text-align: center;
}
.content_price {
	width: 100%;
}
.addCart{
	padding: 10px!important;
}
.deal-hot {
	font-weight: 500!important;
}
.deal-hot strong {
	color: red;
	font-weight: 600!important;
}
.res-img {
	width: 213px!important;
	height: 213px;
}
.register-benefits .tick-register li{
	padding: 10px;
	display: block;
}
.register-benefits .tick-register span{
	margin-left: 15px
}
.errors{
	color: red;
	font-style: italic;
	margin-bottom: -10px;
}
.paginate .pagination{
	margin: 0 0 5px 0;
}
.sub-menu{
	top: 0
}
.btn-view-child{
	display: block;
	position: absolute;
	right: 0;
	top: 5px;
	cursor: pointer;
	z-index: 10;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.list-child-menu{
	margin-bottom: 0px!important;
}
/*//--- flashsale*/

#countdown{
	width: 388px;
	height: 38px;
	text-align: center;
	/*background: #222;*/
	/*background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);*/
	/*border: 1px solid #111;*/
	border-radius: 5px;
	/*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);*/
	/*margin: auto;*/
	padding: 2px 0;
	/*position: absolute;*/
  /*top: 0; bottom: 0; left: 0; right: 0;*/
  margin-bottom: 3px;
}

/*#countdown:before{
	content:"";
	width: 8px;
	height: 30px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 3px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 30px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 3px; right: -10px;
}*/

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 62px;
	max-width: 62px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	/*color: #111;*/
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	/*box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);*/
	margin: 0 3px;
	padding: 2px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	/*background: #111;*/
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 0px;
	/*background: #eee;*/
	/*border-top: 1px solid #c6c6c6;*/
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 50px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	/*text-shadow: 1px 1px 0px #000;*/
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
/*// flashsale---*/

/*review*/
#reviews .advanced-review .advanced-review-rating {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
#reviews .advanced-review .advanced-review-rating {

    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;

}
#reviews .advanced-review .advanced-review-rating h2.based-title {

    font-weight: 500;
    margin-bottom: 1.375em;
    font-size: 1.5em;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 0.542em;

}
#reviews .avg-rating {

    display: flex;
    align-items: center;
    margin-bottom: 2.813em;

}
#reviews .avg-rating .avg-rating-number {

    font-size: 2.75em;
    display: inline-block;
    line-height: 1;
    font-weight: 300;
    margin-right: 0.659em;

}
#reviews .avg-rating .star-rating {

    display: inline-block;
    font-size: 1.438em;
    width: 6em;
    letter-spacing: 2px;

}
.star-rating {

    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1.8em;
    width: 6em;
    font-family: 'star';
    font-weight: 400;
    word-break: keep-all;

}
#reviews .advanced-review .advanced-review-rating .star-rating::before {

    content: "\f006\f006\f006\f006\f006";
    font-family: FontAwesome;

}
.star-rating::before {

    content: "\f006\f006\f006\f006\f006";
    font-family: FontAwesome;
    letter-spacing: 0.313em;
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: #2c2d33;

}
#reviews .avg-rating .star-rating {

    font-size: 1.438em;
    letter-spacing: 2px;

}
.star-rating {

    line-height: 1;
    font-size: 1em;
    font-family: 'star';
    font-weight: 400;
    word-break: keep-all;

}
.star-rating span {

    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

}
#reviews .advanced-review .advanced-review-rating .star-rating span::before {

    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;

}
.star-rating span::before {

    content: "\f005\f005\f005\f005\f005";
    font-family: FontAwesome;
    letter-spacing: 0.313em;
    top: 0;
    position: absolute;
    left: 0;
    color: #fed700;

}
#reviews .rating-histogram .rating-bar {

    display: flex;
    align-items: center;
    margin-bottom: 1em;
    justify-content: space-between;

}
#reviews .rating-histogram .rating-bar .star-rating {

    letter-spacing: 2px;

}
.star-rating {

    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 6em;
    font-family: 'star';
    font-weight: 400;
    word-break: keep-all;
    float: left;

}
#reviews .rating-histogram .rating-bar .rating-percentage-bar {
    width: 12.25em;
    height: 0.625em;
    border-radius: 0.313em;
    background-color: #f3f3f3;

}
#reviews .rating-histogram .rating-bar .rating-percentage-bar .rating-percentage {
    height: 100%;
    background-color: #59abe1;
    display: block;

}
#reviews .rating-histogram .rating-bar .rating-percentage-bar .rating-percentage {
    height: 100%;
    background-color: #d8d8d8;
    display: block;
    border-radius: .313em;

}
.rating-count{
	font-size: 17px;
	margin: 15px 0;
}
/*review*/